<!DOCTYPE html>
<html lang="en">
    <%-include('../Components/templateHead', {pageName:'Login', cssFile: '/css/Login/login.css'}) %> 
<body>
    <%-include('../Components/headerComponent') %> 
    <div style="display: flex;flex-direction: column; justify-content: center; align-items: center; border: 2px solid green">
        <div style="display: flex; justify-content: flex-start; border: 2px solid silver; width: 80%;margin: 1rem;">
            <p>Artigos</p>
        </div>
        <div style="max-width: 80%">
            <img class="col-xs-12 col-sm-12 col-md-12" 
                src=<%= dummy.name%>  width="60%" style=" border: 2px solid red; order: 0"            
            > </img>
        </div>
        <div class="row" style="border: 2px solid pink;max-width: 80%">
        
        </div>

    </row>
</body>
</html>