<style>
  footer{
      font-size: 0.8em;
      width: 100%;
      color: black;
      background-color: #1F1D1D;
      margin: 0;
      padding: 0;
  }
  
  .copyright{
      padding: 30px;
      color: white;
  }
  .copyright p{
      text-align: center;
      margin: 0;
  }

</style>

<footer>
    <div class="copyright">
      <p>©  2020 Cash Book - Todos os direitos reservados</p>
      <p>Termos de uso e Política de privacidade</p>
    </div>

</footer>