<!DOCTYPE html>
<html lang="en">
    <%-include('../Components/templateHead', {
        pageName:'Lançamentos', 
        cssFile: [
            '/css/lancamento/lancamento.css',
        ]
    }) %> 
<body>
    <%-include('../Components/Header/headerComponent',{
        navigator:{
            label: ["Início", "Sobre Nós", "Artigos"],
            routes:[`/inicio`,`/sobrenos`,`/artigos`]
        },
        loginSigin:{
            label: [ user.name, "Logout"],
            routes: [``,'/usuarios/login']
        }

    }) %> 
        
    <div  class= "Container" >
        <%- include('../Components/SideMenu/sideMenu', sideElement )%>
        <div id="rightContainer" style="display: flex; flex-direction: column; position: relative; width: 80%; margin-left: 250px;">
            <div class="container p-3 my-3 border " style="border:1px solid black; border-radius: 10px">
                <h2 style="color: grey;">Lançamentos</h2>

                <section class="p-5" style="display: flex;">
                    <div>
                        <p> Ops! Ainda não possui lançamentos para serem visualizados, <a href="/lancamento">clique aqui</a> para realizar um lançamento.</p>
                    </div>
                </section> 
            </div> 
        </div>  
    </div>                   
            
        <%-include('../Components/footer') %> 
        
       
 </body>
    
</html>