<!DOCTYPE html>
<html lang="en">
<%-include('../Components/templateHead', {
    pageName:'Cadastro', 
    cssFile: [
        '/css/cadastro/cadastro.css',
    ]
}) %> 


<body>
    <%-include('../Components/headerComponent',{
        navigator:{
            label: ["Início", "Sobre Nós", "Artigos"],
            routes:[`/inicio`,`/sobrenos`,`/artigos`]
        },
        loginSigin:{
            label: ["Login", "Cadastrar"],
            routes: [`/usuarios/login`,`/usuarios/cadastro`]
        }
    }) %>  

    <main style="background-image: url('/images/LoginCadastro/background.jpeg');height: 100vh; background-repeat: no-repeat; background-size: cover;width: 100%; align-items: center; display: flex; justify-content: center;">
        <div class="container">
            <div class="row">
                <div id="form" class="col-12">
                    <form id="formulario" class="w-50" action="/usuarios/cadastro" method="POST">
                        <div class=row>
                            <div id="cadastro" class="col-12 info">
                                <h1>Cadastro</h1>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="nomeUsuario" id="nomeUsuario" type="text"
                                placeholder="Nome">
                        </div>
                        <div class="form-group">

                            <input class="form-control" name="emailUsuario" id="emailUsuario" type="email"
                                placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="senhaUsuario" id="senhaUsuario"
                                placeholder="Senha">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="confirmSenhaUsuario"
                                id="confirmSenhaUsuario" placeholder="Confirmar Senha">
                        </div>
                        <div class="row">
                            <div class="col-12 info">
                                <h5>-------- Ou --------</h5>
                            </div>
                        </div>
                        <div class="form-group cadastros">
                            <div class="col-5 cadastros">
                                <button class="google">
                                    <img src="/images/LoginCadastro/googleLogin.png" class="card-img-top" style="width:100%; height:100%;margin: 0 auto;position: absolute;top: 0;left:0;" alt="...">
                                </button>
                            </div>
                            <div class="col-5 cadastros">
                                <button class="facebook">
                                    <img src="/images/LoginCadastro/facebookLogin.png" class="card-img-top" style="width:100%; height:100%;margin: 0 auto;position: absolute;top: 0;left:0;" alt="...">        
                                </button>
                            </div>
                        </div>

                        <div id="btn" class="form-group">
                            <button class="btn btn-outline-dark">Finalizar Cadastro</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

</body>

</html>