<!DOCTYPE html>
<html lang="en">
    <%-include('../Components/templateHead', {
        pageName:'Login',  
    }) %> 
<body>
    <%-include('../Components/Header/headerComponent') %> 


</body>
</html>