<!DOCTYPE html>
<html lang="en">
    <%-include('../Components/templateHead', {
        pageName:'Login', 
        cssFile: [
        
            '/css/Home/estilo.css',
        ]
    }) %> 
<body>

  <!-- check if token --> 
    <% if (typeof token === "undefined" && typeof user === "undefined") { %>
      <%-include('../Components/Header/headerComponent',{
        navigator:{
            label: ["Início", "Sobre Nós", "Artigos"],
            routes:[`/inicio`,`/sobrenos`,`/artigos/page1`]
        },
        loginSigin:{
            label: ["Login", "Cadastrar"],
            routes: [`/usuarios/login`,`/usuarios/cadastro`]
          }
    }) %>   
      
    <% } else{ %>
      <%-include('../Components/Header/headerComponent',{
        navigator:{
            label: ["Início", "Sobre Nós", "Artigos"],
            routes:[`/inicio`,`/sobrenos`,`/artigos/page1`]
        },
        loginSigin:{
            label: [ user.name, "Logout"],
            routes: [``,`/usuarios/logout`]
        }
      }) %>   
    <%}%>

    <script>
      console.log("Testando");
      var token = JSON.parse(localStorage.getItem('token')).token
      console.log("Valor token")
      console.log(token)
      if(!token){
        $('.header').css({
          'display':'none'
        })
      }else{
        $('.header').css({
          'display':'flex'
        })
      }
    </script>

    
    <section>
        <div style="position:relative;">
          <img src="/images/home/imagens/testeBanner.jpg" class="card-img-top" style="margin: 0 auto;" alt="...">
          <div style="width: 40%;height: 40%;position: absolute;top: 20%; left: 8%;min-width: 100px;color: whihte;">
            <h1 class="display-4 mb-2 felicidade" style="color: white;"id="teste" >A felicidade de quem consegue planejar o futuro!</h1>
            <p class="frase2">Cach Book - A melhor ferramenta de gestão financeira pessoal.</p>
            <button class="btn btn-outline-light">Iniciar</button>
          </div>
        </div>  
        <div class= "home cardsContainer" style="display: flex;flex-basis: 500px;flex-wrap: wrap;width: 100%; justify-content: space-around;margin:100px 0px 100px 0px">
          <div style="display:flex; flex-direction: column; border:1px solid black; width: 300px; box-sizing: border-box">
            <img src="/images/home/Icones/icone1.svg" class="card-img-top" style="margin: 0 auto; width: 200px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tenha um maior controle</h5>
              <p class="card-text">Evite o uso de planilhas e centralize a sua vida financeira no Cash Book.</p>
            </div>  
          </div>            
          <div style="display:flex; flex-direction: column; border:1px solid black; width: 300px; box-sizing: border-box">
            <img src="/images/home/Icones/icone2 - capitalismo.svg" class="card-img-top" style="margin: 0 auto;; width: 200px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pense no futuro</h5>
              <p class="card-text">Saiba com o que está gastando, classifique as suas despesas e economize.</p>
            </div>  
          </div>            
          <div style="display:flex; flex-direction: column; border:1px solid black; width: 300px; box-sizing: border-box;">
            <img src="/images/home/Icones/icone3 - apresentacao.svg" class="card-img-top" style="margin: 0 auto;; width: 200px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">Vizualizar a vida financeiroa</h5>
              <p class="card-text">Com o Cash Book ficou muito fácil manter o controle financeiro.</p>
            </div>  
          </div>  
        </div>

        <div class="home sessao-blog" style="width: 100%; position: relative;">
          <img src="/images/home/imagens/blog-recortado.jpg" class="card-img-top" style="margin: 0 auto; width: 100%;" alt="...">
          <div style="position:absolute; top: 15%; left:10%; color: white; z-index: 1;">
            <h1 class="display-4">Conheça o nosso Blog</h1>
            <p style="width:400px">De pessoas para pessoas,
            toda semana uma publicação com recomendações e dicas para a gestão financeira pessoal.</p>
            <a href="" class="btn btn-outline-light">Ir para o Blog</a>
          </div>
      </div>

      </section>

    <%-include('../Components/footer') %>
</body>
