.header{
    background-color: black;
    display: flex;
    position: relative;
}

.iconNavigatorContainer{
    width: 20%; 
    display:flex; 
    box-sizing: border-box;
    min-width: 200px;
    overflow: hidden;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > .image{
    transform: scale(0.7);
    min-width: 300px;
}

.logo > .image:hover{
    cursor: pointer;
}

.hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLogin{
    display: flex;
    position: relative;
    width: 80%;
}

.navLogin nav{
    width: 80%;
}

.navigator{
    color: white;
    position: relative;
    list-style-type:none;
    display:flex;
    margin: 0;
    align-items: center;
    font-size: 1.3rem;
    justify-content: start
}

.navigator > li > a:hover{
    cursor: pointer;
    color: blueviolet;
}


.navigator > li{
    margin: 30px;
}


.loginSigin{
    position: relative;
    display:flex;
    margin: 0;
    padding: 0;
    list-style-type:none;
    color: white;
    width: 20%; 
    box-sizing: border-box;
}

.loginSigin > div{
    display: flex;
    align-items: center ;
    justify-content: center;
    flex:1;    
    height: 100%;
    font-size: 1.3rem;
}

.loginSigin > div:nth-child(2){
    background-color: white;
    color: black;
}

.loginSigin > div:hover{
    cursor: pointer;
    color: blueviolet;
}


@media screen and (min-width:1070px){
    .navLogin{
        display: flex!important;
        flex-direction: row!important;
        width: 80%!important;
    }
    
    .navLogin nav{
        width: 80%!important;
    }

    .navigator{
        flex-direction: row!important;
        padding-left: 40px!important;
        width: 80%!important;
    }

    .navigator > li {
        border: none!important;
        color: white!important;
        background-color: black!important;
        height: auto!important;
        margin: 30px!important;
        width: auto!important;  
    }
    
    .loginSigin{
        width: 20%!important;
    }
}


@media screen and (max-width:1070px){
    .header{
        flex-direction: column;
    }

    .iconNavigatorContainer {
        width: 100%!important;
    }

    .hamburger{
        width: 20%;
        display: flex;
        align-items: center;
    }

    .navLogin{
        display: none;
    }

    .logo{
        width: 100%!important;
    }

/*    .navLogin{
        width: 100%;
        flex-direction: column;
    }

    .navLogin > nav{
        color: red;
        width: 100%!important;
    }

    .navigator{
        width: 100%;
        flex-direction: column;
    }
    
    .navigator {
        padding: 0px;
    }

    .navigator > li{
        border: 1px solid black;
        color: black;
        background-color: white;
        width: 100%;
        text-align: center;
        height: 40px;
        margin: 0px;
        
    }

    .loginSigin{
        width: 100%!important;
        color: black;
        flex-direction: column;
        background-color: white;
    }

    .loginSigin > div{
        border: 1px solid black;
    }
*/    
}