<style>
  .Container {
    position: relative;
    min-height: 100vh;
    background-color: #ebebec;
    display: flex;
  }

  #leftContainer {
    position: absolute;
  }

  #rightContainer {
    width: calc(100% - 200px);
    margin-left: 200px;
  }

  .hamburgerContainer_sideMenu {
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    width: 42px;
    height: 38px;
    display: <%=options.display%>;
    border: 2px solid gray;
    top: 30px;
    left: 50px;
    position: relative;
  }

  .bar1_sideMenu,
  .bar2_sideMenu,
  .bar3_sideMenu {
    width: 28px;
    height: 3px;
    background-color: #707070;
    margin: 6px 6px;
    transition: 0.4s;
  }

  .change .bar1_sideMenu {
    /* -webkit-transform: rotate(-45deg) translate(-9px, 6px); */
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2_sideMenu {
    opacity: 0;
  }

  .change .bar3_sideMenu {
    /* -webkit-transform: rotate(45deg) translate(-8px, -8px); */
    transform: rotate(45deg) translate(-7px, -4px);
  }

</style>
<div class="hamburgerContainer_sideMenu">
  <input id="hamburgerInput_sideMenu" type="checkbox"
    style="opacity: 0; width: 100%; height:100%; position: absolute;"/>
  <div class="bar_sideMenu bar1_sideMenu"></div>
  <div class="bar_sideMenu bar2_sideMenu"></div>
  <div class="bar_sideMenu bar3_sideMenu"></div>
</div>


<script>
  $('.hamburgerContainer_sideMenu').mouseenter(function () {
    $('#hamburgerInput_sideMenu').css({
      'cursor': 'pointer'
    })

    $('.bar_sideMenu').css({
      'background-color': 'black'
    })
    $('.hamburgerContainer_sideMenu').css({
      'border': '2px solid black'
    })
  }).mouseleave(function () {
    $('.hamburgerContainer_sideMenu').css({
      'border': '2px solid gray'
    })
    $('.bar_sideMenu').css({
      'background-color': '#707070'
    })
  })

  $('.hamburgerContainer_sideMenu').click(function () {
    if ($('#hamburgerInput_sideMenu:checked').val()) {
      $('.hamburgerContainer_sideMenu').css({
        'transition': 'transform 1s linear',
        'transform': 'translate(100px,0)',
      })

      $('#leftContainer').css({
        'transform': 'translate(-100%,0)',
      })
      //$('.leftHand').css({'width': '100%', 'margin-left': '250px'})
      $('#rightContainer').css({
        'transition': 'transform 1s linear',
        'transform': 'translate(0px,0px)',
        'margin-left': '100px',
        'width': '100%'
      })
      //$('#divLancamento').css({'width': '100%', 'margin-left': '0'})


    } else {
      $('.hamburgerContainer_sideMenu').css({
        'transition': 'transform .5s linear',
        'transform': 'translate(0px, 0px)',
      })
      $('#leftContainer').css({
        'transform': 'translate(0px, 0px)',
        'width': '200px'
      })
      $('#rightContainer').css({
        'transition': 'transform .01 linear',
        'transform': 'translate(0px, 0px)',
        'width': 'calc(100% - 200px)',
        'margin-left': '200px'
      })

      //$('.').css({'border':'2px solid red','width': '100%', 'margin-left': '250px'}) 
      //$('.leftHand').css({'width': '80%', 'margin-left': '250px'})
      //$('#divLancamento').css({'width': '80%', 'margin-left': '250px'}) 


    }
  })
</script>